@{
    ViewBag.Title = "Add";
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}
@using OnlineAuction.Common.Const;
@using OnlineAuction.Web.Extensions;
@model OnlineAuction.Model.BlogType
@using (Html.BeginForm())
{
    if (TempData[Constants.ViewStatus.TempDataAddFail] != null)
    { 
        @::TempData[Constants.ViewStatus.TempDataAddFail]
    }
    Html.ValidationSummary();

    //var GetTemplateHelp = ViewContext.ViewData.ModelMetadata.Description;
    //var dd = ViewContext.ViewData.ModelMetadata.Properties.Where(t => t.IsRequired == true);
    //var isRequired = ViewData.ModelMetadata.IsRequired;
    //var templateHint = ViewData.ModelMetadata.TemplateHint; // Decimal Integer
    <table style='border: 1px solid black;'>
        <thead>
            <tr>
                <td colspan="4" style="text-align: right; padding-right: 2px;">
                    <input type="submit" value="insert" />
                    <input type="button" value="cancel" />
                    <input type="reset" value="reset" />
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    博客名称
                </td>
                <td>
                    @Html.TextBoxFor(t => t.BlogShortName)
                    @Html.ValidationMessageFor(t => t.BlogShortName)
                </td>
                <td>
                    简介
                </td>
                <td>
                    @Html.TextAreaFor(t => t.BlogBrief)
                    @Html.ValidationMessageFor(t => t.BlogBrief)
                </td>
            </tr>
            <tr>
                <td>
                    作者
                </td>
                <td>
                    @Html.TextBoxFor(t => t.BlogUsreID)
                    @Html.ValidationMessageFor(t => t.BlogUsreID)
                </td>
                <td>
                    <!-- 测试自定义的StringHelp类用法-->
                     @Html.EditorFor(t => t.BlogShortName);
                </td>
                <td>
                @Html.DisplayFor(t => t.TestDecimal);
                </td>
            </tr>
        </tbody>
    </table>
}
