@{
    ViewBag.Title = "Edit";
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}
@model OnlineAuction.Model.BlogType
<h2>
    Edit</h2>
@using (Html.BeginForm())
{
    Html.AntiForgeryToken();
    Html.ValidationSummary();
    <table>
        <tr>
            <td>
                博客名称
            </td>
            <td>
                简介
            </td>
            <td>
                用户
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextAreaFor(t => t.BlogShortName)
                @* @Html.ValidationMessageFor(t=>t.BlogShortName)*@
            </td>
            <td>
                @Html.TextAreaFor(t => t.BlogBrief)
                @* @Html.ValidationMessageFor(t=>t.BlogBrief)*@
            </td>
            <td>
                @Html.TextAreaFor(t => t.BlogUsreID)
                @*@Html.ValidationMessageFor(t=>t.BlogUsreID)*@
            </td>
        </tr>
        <tr>
            <td>
                @*@Html.ActionLink("Edit","Edit","BlogType",new {@class="BtSave"})*@
                <input value="Edit" type="submit" class="BtSave" />
            </td>
            <td>
                @Html.ActionLink("Cancel", null, null, new { onclick = "javascript:window.location.href=location.href" })
            </td>
            <td>
                @Html.TextBox("sdfasd", null, null)
            </td>
        </tr>
    </table> 
}
