@{
    ViewBag.Title = "Edit";
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}
<script src="../../../../Scripts/jquery-1.5.1.js" type="text/javascript"></script>
<script type="text/javascript" src="../../../../Scripts/jquery-1.5.1-vsdoc.js"></script>
<script type="text/javascript">

    // 测试异步操作时，控制页面的laod.png图片显示
    ajaxPanel
    function Edit() {
        $("#ajaxPanel").css("display", "block");
        $.ajax({
            type: "POST",
            url: 'Blog/BlogType/EditUPdate',
            data: "testID=62",
            success: function () {
            alert("EXECUTE")
                $("#ajaxPanel").css("display", "none");
                // $(this).addClass("done");
            }
        });
    }

</script>
@model OnlineAuction.Model.BlogType
<h2>
    Edit</h2>
@using (Html.BeginForm())
{
    Html.AntiForgeryToken();
    Html.ValidationSummary();
    <table>
        <tr>
            <td>
                博客名称
            </td>
            <td>
                简介
            </td>
            <td>
                用户
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(t => t.BlogShortName)
                @* @Html.ValidationMessageFor(t=>t.BlogShortName)*@
            </td>
            <td>
                @Html.TextAreaFor(t => t.BlogBrief)
                @* @Html.ValidationMessageFor(t=>t.BlogBrief)*@
            </td>
            <td>
                @Html.TextAreaFor(t => t.BlogUsreID)
                @*@Html.ValidationMessageFor(t=>t.BlogUsreID)*@
            </td>
        </tr>
        <tr>
            <td>
                @*@Html.ActionLink("Edit","Edit","BlogType",new {@class="BtSave"})*@
                <input value="Edit" type="submit" class="Btn BtSave" />
            </td>
            <td>
                @Html.ActionLink("Cancel", null, null, new { onclick = "javascript:window.location.href=location.href" })
                @Html.HiddenFor(t => t.SystemStatus.Value);
                <input type="button" onclick="Edit()" value="编辑" />
            </td>
        </tr>
    </table> 
}
