@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Html.ViewContext.ViewData.Model
}
@using OnlineAuction.Model;
@Model OnlineAuction.Model.BlogType;
@Model List<blogtype>
@{
    // var s=ViewData.Select(t=>t.Key.
}

@using (@Html.BeginForm())
{ 
   @* <div>@Html.Action("Add", "Blogtype")</div>*@
    // 将会调用Blogtype的Add方法中执行的页面HTML
    <div>@Html.ActionLink("add", "Add", "Blogtype", new { style = "border:1px solid red;display:block;" })</div>
    <table>
    <thead>
        <tr>
            <th>
                名称
            </th>
            <th>
                <a>↑作者</a>
            </th>
            <th>
                <a>↓用户</a>
            </th>
            <th>
                <a>操作</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var blogType in Html.ViewContext.ViewData.Model)*@
        @{
    // var BlogTypes1 = Html.ViewContext.ViewData.Model;
    // var BlogTypes2 = Html.ViewData;
    // var properties = Html.ViewContext.ViewData.ModelMetadata.Properties;
        }
        @foreach (BlogType blogType in Model)
        {
            <tr>
                <td>
                    @blogType.BlogShortName
                </td>
                <td>
                    @blogType.BlogUsreID
                </td>
                <td>
                    @blogType.BlogUsreID
                </td>
                <td>
                    @Html.ActionLink("编辑", "Eidt", "blogType");
                    @Html.ActionLink("删除", "Eidt", "blogType");
                </td>
            </tr>
        }
    </tbody>
    </table>
}
