@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Html.ViewContext.ViewData.Model
}
<script type="text/javascript">

    function GetList(fieldkey, value) {
        debugger
        alert("fieldkey:" + fieldkey + "\n value:" + value);
        $.ajax({
            type: "GET",
            url: "/BlogType/GetList",
            data: "key=" + fieldkey + "&value=" + value,
            success: function (msg) {
                // if return result is string 
                // alert("Data Saved: " + msg); 
                 
                // if return result is jsonresult
                $("#result").html(msg);
            }
        });
    }

    //    $(document).ready(function () {

    //        /// 在index的grid中添加自动搜索功能
    //        function GetAuotSearch() {
    //            $(".ui-autocomplete-input").each(function () {
    //                var element = $(this);
    //                // alert(element);
    //            });
    //        }

    //    });
  
</script>
@using OnlineAuction.Model;
@Model OnlineAuction.Model.BlogType;
@Model List<blogtype>
@{
    // var s=ViewData.Select(t=>t.Key.
}

@using (@Html.BeginForm())
{ 
   @* <div>@Html.Action("Add", "Blogtype")</div>*@
    // 将会调用Blogtype的Add方法中执行的页面HTML
    <div>@Html.ActionLink("add", "Add", "Blogtype", new { style = "border:1px solid red;display:block;" })</div>
    <table style=" border-collapse:collapse;" border="1">
    <thead style=" background-color:#ccc;">
        <tr>
            <th>
                名称
                @*<input type="text" id=“txtBlogType” name="txtBlogType" data-autocomplete-source="@Url.Action("AuoteSearch", "BlogType")" />*@
                <input type="text" id=“txtBlogType” name="txtBlogType" data-autocomplete-source="@Url.Action("AuoteSearch", "BlogType", new { queryParam = "test" })"  onchange="GetList('BlogShortName',this.value)" />
            </th>
            <th>
                <a>↑作者</a>
                 <input name="txtBlogAuthor" />
            </th>
            <th>
                <a>↓用户</a>
                <input name="txtUser" />
            </th>
            <th>
                <a>操作</a>
            </th>
        </tr>
      @*  <tr>
            <th> 
                <input type="text" name="txtBlogType" data-autocomplete-source="@Url.Action("AuoteSearch", "BlogType")" />
            </th>
            <th>
                 <input name="txtBlogAuthor" />
            </th>
            <th>
                <a>↓用户</a>
            </th>
            <th>
                <a>操作</a>
            </th>
        </tr>*@
    </thead>
    <tbody>
        @* @foreach (var blogType in Html.ViewContext.ViewData.Model)*@
        @{
    // var BlogTypes1 = Html.ViewContext.ViewData.Model;
    // var BlogTypes2 = Html.ViewData;
    // var properties = Html.ViewContext.ViewData.ModelMetadata.Properties;
        }
        @foreach (BlogType blogType in Model)
        {
            <tr>
                <td>
                    @blogType.BlogShortName
                </td>
                <td>
                    @blogType.BlogUsreID
                </td>
                <td>
                    @blogType.BlogUsreID
                </td>
                <td>
                   @Html.ActionLink("编辑", "Edit", "blogType", new { id = @blogType.ID }, null)
                    @Html.ActionLink("删除", "Delete", "blogType", new { id = @blogType.ID }, new { @class = "Btn BtnDelete" })
                   @Ajax.ActionLink("Ajax删除方法", "Delete", new { id = @blogType.ID }, new AjaxOptions { UpdateTargetId = "ajaxPanel", Confirm = "确认删除吗？" })
                </td>
            </tr>
        }
    </tbody>
    </table>
    <div id="result"></div>
}
